body {
    background-color: rgb(199, 169, 169);
  }
  
  .overall {
    text-align: center;
    margin-top: 3vh;
  }
  
  
  .btn {
    height: 120px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .btn:hover {
    background-color: rgb(140, 133, 161);
    cursor: pointer;
  }
  
  #rock {
    background-color: rgb(79, 78, 84);
  }
  
  #paper {
    background-color: rgb(79, 78, 84);
  }
  
  #scissor {
    background-color: rgb(79, 78, 84);
  }
  
  .text {
    font-size: 25px;
    margin-top: -15px;
  }
  
  #winner {
    color: rgb(86, 36, 18);
    margin-top: 15px;
    font-size: 50px;
  }
  
  #finaltext{
    margin-top: -20px;
  }
  
  .scores{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    margin-top: -10px;
    font-size: 25px;
    }
  
  .space{
    margin-left: 50px;
  }
  
  #refresh-btn{
    height: 50px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(79, 183, 79);
    margin-top: -20px;
  }
  #refresh-btn:hover{
    background-color: rgb(50, 148, 50);
    color: white;
    
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }
